doctype html
html(lang='en', ng-app='portfolio')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=no')
    meta(name='p:domain_verify', content='4efb09ea5c32cfbd18c5dae7c6396094')
    title Jon Edwards - Full Stack Web Developer
    // Bootstrap
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
       [if lt IE 9]
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    // [endif]
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Jon Edwards
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(role='presentation')
              a(href='#')
                i.fa.fa-home.fa-lg
            li(role='presentation')
              a(href='http://www.kolohelios.me') Blog
            li.dropdown(role='presentation')
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Projects
                span.caret
              ul.dropdown-menu(role='menu')
                li Personal Projects
                li: a(href='hangman.html') Hangman
                li: a(href='http://hanoi.kolohelios.com/') Towers of Hanoi
            li.dropdown(role='presentation')
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Contact
                span.caret
              ul.dropdown-menu(role='menu')
                li(role='presentation')
                  a(href='mailto:jkedwards@me.com')
                    i.fa.fa-envelope.fa-lg: a(href="mailto:jkedwards@me.com") jkedwards@me.com
                li.divider
                li(role='presentation')
                  a(href='http://twitter.com/kolohelios')
                    i.fa.fa-twitter.fa-lg Twitter
                li(role='presentation')
                  a(href='https://github.com/kolohelios')
                    i.fa.fa-github.fa-lg Github
                li(role='presentation')
                  a(href='http://www.linkedin.com/in/kolohelios')
                    i.fa.fa-linkedin.fa-lg LinkedIn
                li(role='presentation')
                  a(href='http://www.facebook.com/kolohelios')
                    i.fa.fa-facebook.fa-lg Facebook
                li(role='presentation')
                  a(href='http://www.stackoverflow.com/users/4592962/jon-edwards')
                    i.fa.fa-stack-overflow.fa-lg Stack Overflow
                li(role='presentation')
                  a(href='https://angel.co/jon-edwards-1')
                    i.fa.fa-angellist.fa-lg Angel List
                li(role='presentation')
                  a(href='https://www.quora.com/Jon-Edwards-10') Quora
        // /.navbar-collapse
      // /.container-fluid
    // this is the area to add text
    .jumbotron
      p.lead.center Jon Edwards is a junior web developer with experience in the MEAN stack.
        .row
          .col-xs-12.col-sm-3
            img.img-responsive#photo(src='/assets/photo.png', alt='photo of Jon Edwards')
          .col-xs-12.col-sm-9.center
            h4 I have experience with the following frameworks:
            ul#list
              li.fa.fa-check-square &nbsp;Mongo.db
              li.fa.fa-check-square &nbsp;Express
              li.fa.fa-check-square &nbsp;Angular.js
              li.fa.fa-check-square &nbsp;Node.js
              li.fa.fa-check-square &nbsp;jQuery
              li.fa.fa-check-square &nbsp;Bootstrap
            h4 and languages:
            ul#list
              li.fa.fa-check-square &nbsp;JavaScript
        .row
          .col-xs-12
            h3.center#projectheading Projects
        .row.center(ng-controller='projectList')
          .col-xs-12.col-sm-4#projectlist(ng-repeat='project in projects track by $index')
            h4.project-head {{project.name}}
            img(ng-src='{{project.screenshotthumb}}')
            p.desc {{project.desc}}
            button.btmbutton(ng-click='caseStudy($index)') Case Study
        .row#projectview(ng-controller='projectView', ng-show='showProjectView')
          .col-xs-12.center
            h3 {{projects[view].name}}
            h4 Case Study
          .col-xs-6.center
            img(ng-src='{{projects[view].screenshot}}')
          .col-xs-6.center
            p {{projects[view].extddesc}}
            p Frameworks:
            ul
              li(ng-repeat='tech in projects[view].techs') {{tech}}
            p Role: {{projects[view].role}}
            a(ng-href='{{projects[view].linktoapp}}') {{projects[view].linktext}}
            
            
    // footer begins here
    nav.navbar.navbar-default.navbar-fixed-bottom
        p.navbar-text &quot;... the only way to do great work is to love what you do.&quot; -Steve Jobs
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/angular/angular.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62142638-1', 'auto');
      ga('send', 'pageview');
