/*!
 * This is CSS that I have written to extend bootstrap.css v3.3.2; originally I had incorporated
 * the changes directly into bootstrap.css and later learned the error of my ways.
 */

body{
  background-color: #FFF;
  background-image: url('/assets/IMG_0461.JPG');
  background-size: cover;
  //background-position: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#list{
  margin-left: -35px;
}
.navbar-default{
  background-color: #9a912a;
  color: white;

  .navbar-text, .navbar-nav > li > a, .navbar-brand{
  color: #ccc;
  }
}
.jumbotron{
  margin: 50px 75px 150px 75px;
  padding: 20px;
  background-color: rgba(213, 223, 215, 0.92);
}
.list{
  display: block;
}
#photo{
  padding: 20px;
}
.center{
  text-align: center;
}
#projects{
  .desc{
    font-size: 14px;
    margin: 5px;
  }
  button{
    margin: 10px;
  }

}
